.pattern {
    background-color: rgb(79, 160, 253);
    background-repeat: repeat-x;
    background-image: url('img/logo.svg');
    background-size: 250px;
}

header>div {
    color: rgb(125, 125, 125);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.titolo {
    margin-bottom: 0;
}

.credits {
    margin-bottom: 40px;
}

.author {
    color: rgb(31, 167, 227);
}

.date {
    font-size:13px;
}

.ul {
    margin-left: 0;
}

thead {
    background-color: rgb(34, 168, 227);
    color: white;
}

#t1 {
    width: 25%;
}
#t2 {
    width: 25%;
}
#t3{
    width: 48%;
}

.dispari {
    background-color: rgb(176, 228, 241);
}

h3 {
    color: grey;
}

.footer-img {
    position: relative;
    display: block;
    margin: 20px;
}

h2 {
    position: absolute;
    top: 20px;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    color: white;
}
